@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0; }

/* 1 selector de tipo etiqueta */
/* flex */
.flexPadre {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  padding: 15px;
  justify-content: space-evenly;
  background-image: linear-gradient(45deg, #db2c49, #ebeb14);
  align-content: center; }

.colorTitulo1 {
  color: white; }

.colorTitulo2 {
  color: black; }

.flexPadre li {
  list-style: none;
  padding: 25px;
  background-color: black;
  width: 160px;
  height: 15px;
  font-size: small;
  text-align: start;
  cursor: pointer; }
  .flexPadre li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    bottom: 10px;
    font-family: 'Roboto', sans-serif; }
    .flexPadre li a:hover {
      color: #eb1212;
      font-weight: 900;
      transform: scale(1.2); }

.flexTitulo {
  display: flex;
  align-items: center;
  position: relative; }

/* contenidos */
.mainLocales {
  height: 850px;
  background-image: url(https://turismo.buenosaires.gob.ar/sites/turismo/files/field/image/9deJulio_obelisco_1200.jpg);
  background-size: cover; }

.flexLocales {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.contenidoLocales {
  background-color: black;
  color: white;
  border: 2px solid #ff3c00;
  width: 400px;
  margin: 10px; }
  .contenidoLocales li {
    list-style: none; }

p, h2 {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  padding: 5px; }

.mainComentario {
  height: 450px; }

.flexComentario {
  display: flex;
  align-items: center;
  justify-content: center; }

.comentarioContenido {
  padding: 10px;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px; }
  .comentarioContenido input {
    height: 2.5rem;
    width: 250px;
    border-radius: 15px;
    outline: none;
    text-align: center;
    margin: 8px; }
  .comentarioContenido textarea {
    height: 5rem;
    width: 250px;
    border-radius: 15px; }
  .comentarioContenido input:hover, .comentarioContenido textarea:hover {
    background-color: #ff5100; }

.mainProductos {
  height: 70%; }

.nuestrosProductoscontenido {
  height: 1700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; }
  .nuestrosProductoscontenido div {
    height: 400px;
    text-align: center;
    font-size: small;
    font-family: 'Roboto', sans-serif; }
    .nuestrosProductoscontenido div img:hover {
      transform: translatey(10px);
      transition: all 1.3s;
      cursor: pointer; }

.imagen {
  height: 200px;
  width: 200px;
  padding: 30px; }

.ofertasYpromoscontenido {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1340px;
  background-color: #888882;
  border: 2px outset #ff5100;
  position: relative;
  top: 50px;
  padding: 15px; }
  .ofertasYpromoscontenido form input {
    height: 2.5rem;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    margin: 4px; }
  .ofertasYpromoscontenido p {
    font-family: 'Roboto', sans-serif; }

.mainOfertas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c5cccc;
  height: 650px; }
  .mainOfertas p {
    font-family: 'Roboto', sans-serif;
    margin: 10px; }

.card {
  margin: 5px;
  color: white;
  background-color: black; }
  .card:hover {
    cursor: pointer;
    background-color: #eb1212; }

.cardOferta {
  display: flex;
  flex-wrap: wrap; }

/* index */
.seccionIndex {
  color: white;
  background-color: #292321;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 690px;
  padding: 15px; }

.seccionIndex1 {
  background-color: #888882;
  border: 2px solid #ff5100;
  height: 300px;
  width: 600px;
  padding: 10px;
  background-image: url(https://d3ugyf2ht6aenh.cloudfront.net/stores/001/416/936/products/2111-ccad221c0de781694c16355395870833-1024-1024.jpg);
  background-size: cover;
  text-align: center;
  margin: 10px;
  border-radius: 10px; }

.seccionIndex2 {
  background-color: #888882;
  border: 2px solid #ff5100;
  height: 300px;
  width: 600px;
  padding: 10px;
  background-image: url(https://sneakers123.s3.amazonaws.com/blackfriday/236823/conversions/30off-thumb.jpg);
  background-size: cover;
  text-align: center;
  margin: 10px;
  border-radius: 10px; }

.seccionIndex3 {
  background-color: #888882;
  border: 2px solid #ff5100;
  height: 300px;
  width: 600px;
  padding: 10px;
  background-image: url(https://img.freepik.com/foto-gratis/comida-ingredientes_1220-4884.jpg?size=626&ext=jpg&ga=GA1.2.1588357300.1637193600);
  background-size: cover;
  text-align: center;
  margin: 10px;
  border-radius: 10px; }

.seccionIndex4 {
  background-color: #888882;
  border: 2px solid #ff5100;
  height: 300px;
  width: 600px;
  padding: 10px;
  background-image: url(https://i.ytimg.com/vi/ouhq3W8GLwE/maxresdefault.jpg);
  background-size: cover;
  text-align: center;
  margin: 10px;
  border-radius: 10px; }

.seccionIndex1:hover, .seccionIndex2:hover, .seccionIndex3:hover, .seccionIndex4:hover {
  height: 280px;
  width: 580px;
  border: 2px outset red;
  transition: all 1.3s;
  margin-bottom: 30px;
  cursor: pointer; }

.seccionIndex5 {
  background-color: #888882;
  border: 2px outset #ff5100;
  width: 1300px;
  padding: 15px;
  position: relative;
  top: 1px;
  left: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  border-radius: 10px; }
  .seccionIndex5 input {
    height: 2.5rem;
    width: 350px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    font-family: "Roboto", sans-serif; }

.dejaTugmail {
  display: flex;
  flex-direction: column; }

.mainIndex {
  height: 890px;
  background-color: #292321; }

.footer {
  background-color: black;
  color: white;
  height: 200px;
  position: relative;
  bottom: 100%;
  font-size: 15px; }
  .footer li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px; }
  .footer a {
    text-decoration: none;
    color: white; }
  .footer i {
    font-size: 2rem; }

.footer1 {
  display: flex;
  margin-bottom: 15px;
  padding: 30px;
  justify-content: space-evenly; }

.footer2 {
  display: flex;
  margin-top: 15px;
  justify-content: space-around; }

/* responsive media query tablet*/
@media (max-width: 1074px) {
  .seccionIndex1, .seccionIndex2, .seccionIndex3, .seccionIndex4 {
    height: 300px;
    width: 500px; }
  .seccionIndex1:hover, .seccionIndex2:hover, .seccionIndex3:hover, .seccionIndex4:hover {
    height: 290px;
    width: 400px;
    margin-bottom: 20px; }
  .seccionIndex5 {
    width: 1043px;
    right: 2px; }
  .flexPadre {
    flex-direction: row; }
    .flexPadre li {
      padding: 17px;
      height: 20px;
      width: 144px;
      font-size: small; }
  .ofertasYpromoscontenido {
    width: 1000px; } }

@media (max-width: 1066px) {
  .flexPadre li {
    font-size: x-small;
    width: 130px; }
  .seccionIndex5 {
    width: 1028px;
    right: 30px;
    left: 15px; } }

@media (max-width: 1055px) {
  .seccionIndex5 {
    width: 900px;
    left: 75px; }
  .seccionIndex1, .seccionIndex2, .seccionIndex3, .seccionIndex4 {
    width: 490px;
    height: 300px; } }

@media (max-width: 1040px) {
  .seccionIndex1, .seccionIndex2, .seccionIndex3, .seccionIndex4 {
    width: 450px;
    height: 280px; } }

@media (max-width: 1031px) {
  .seccionIndex1:hover, .seccionIndex2:hover, .seccionIndex3:hover, .seccionIndex4:hover {
    margin-bottom: 1px; } }

@media (max-width: 1030px) {
  .seccionIndex1, .seccionIndex2, .seccionIndex3, .seccionIndex4 {
    width: 380px;
    height: 250px; }
  .seccionIndex1:hover, .seccionIndex2:hover, .seccionIndex3:hover, .seccionIndex4:hover {
    height: 390px;
    height: 260px;
    transition: 1.3s; }
  .seccionIndex5 {
    left: 65px; }
  .mainIndex {
    height: 790px; }
  .seccionIndex {
    height: 600px; } }

@media (max-width: 1005px) {
  .ofertasYpromoscontenido {
    width: 900px; } }

.cardOferta {
  justify-content: center; }

@media (max-width: 990px) {
  .mainOfertas {
    height: 950px; } }

@media (max-width: 965px) {
  .seccionIndex5 {
    width: 900px;
    left: 35px; } }

@media (max-width: 940px) {
  .seccionIndex5 {
    width: 850px;
    left: 40px; } }

@media (max-width: 900px) {
  .seccionIndex5 {
    width: 750px;
    left: 70px; }
  .ofertasYpromoscontenido {
    width: 850px; } }

@media (max-width: 850px) {
  .seccionIndex5 {
    width: 700px; }
  .ofertasYpromoscontenido {
    width: 800px; }
    .ofertasYpromoscontenido input {
      font-size: small; }
  p {
    font-size: small; } }

@media (max-width: 810px) {
  .seccionIndex5 {
    width: 650px; }
  .seccionIndex1, .seccionIndex2, .seccionIndex3, .seccionIndex4 {
    width: 340px;
    height: 230px; }
  .ofertasYpromoscontenido {
    width: 750px; } }

@media (max-width: 768px) {
  /* inicio */
  .flexPadre {
    flex-direction: column; }
    .flexPadre li {
      padding: 15px;
      height: 15px;
      width: 40;
      font-size: xx-small; }
  .container-fluid {
    align-items: flex-end; }
  .seccionIndex {
    height: 1100px;
    flex-direction: row;
    justify-content: center;
    padding: 25px; }
  .mainIndex {
    height: 1380px; }
  .seccionIndex5 {
    width: fit-content;
    top: 70px;
    left: 0.2px;
    font-size: small;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
    .seccionIndex5 input {
      font-size: small; }
  .seccionIndex1, .seccionIndex2, .seccionIndex3, .seccionIndex4 {
    height: 250px;
    width: 450px; }
  /* locales */
  .contenidoLocales {
    width: 300px; }
    .contenidoLocales li {
      font-size: small; }
  h2, p {
    font-size: small; }
  .mainLocales {
    height: 650px; }
  /* comentario */
  .comentarioContenido {
    height: 370px;
    width: 340px; }
    .comentarioContenido input {
      height: 2rem;
      width: 200px;
      border-radius: 10px; }
  textarea {
    height: 2rem;
    width: 200px;
    border-radius: 10px; }
  /* prodcutos */
  .mainProductos {
    height: 1500px; }
  .nuestrosProductoscontenido {
    height: 1000px;
    flex-wrap: wrap;
    flex-direction: row; }
    .nuestrosProductoscontenido div {
      height: 350px;
      font-size: x-small; }
  .imagen {
    height: 180px;
    width: 180px;
    padding: 15px;
    margin: 10px; }
  /* ofertaspromos */
  .mainOfertas {
    height: 900px; }
  .ofertasYpromoscontenido {
    top: 70px;
    width: fit-content;
    left: 0.2;
    height: 160px;
    font-size: small;
    flex-direction: row;
    justify-content: center; }
    .ofertasYpromoscontenido form input {
      font-size: small; } }

@media (max-width: 710px) {
  .ofertasYpromoscontenido {
    height: 200px; }
  .mainOfertas {
    height: 930px; } }

@media (max-width: 700px) {
  .mainOfertas {
    height: 900px; }
  .ofertasYpromoscontenido {
    top: 40px; } }

@media (max-width: 660px) {
  .mainOfertas {
    height: 1200px; } }

@media (max-width: 510px) {
  .mainOfertas {
    height: 1200px; }
  .ofertasYpromoscontenido {
    top: 50px; } }

/* responsive media query celular 480px */
@media (max-width: 480px) {
  .mainIndex {
    height: 1335px; }
  .seccionIndex {
    height: 1050px; }
  .seccionIndex5 {
    height: 160px;
    width: fit-content;
    top: 98px;
    left: 0.2px; }
    .seccionIndex5 input {
      height: 1.5rem;
      width: 250px; }
  /* ofertaspromos */
  .ofertasYpromoscontenido {
    padding: 5px;
    height: 180px;
    top: 780px; }
  .gridOfertas p {
    font-size: x-small; }
  .ofertasYpromoscontenido {
    top: 50px; }
    .ofertasYpromoscontenido form input {
      height: 1.5rem;
      width: 250px; }
  .mainOfertas {
    height: 1200px; } }

/* footer */
/* responsive media query celular 375px */
@media (max-width: 375px) {
  .flexPadre li {
    padding: 12px;
    height: 10px;
    width: 10;
    font-size: xx-small; }
  .seccionIndex {
    height: 900px;
    flex-direction: row;
    justify-content: center;
    padding: 15px; }
  .mainIndex {
    height: 1180px; }
  .seccionIndex5 {
    width: fit-content;
    height: 140px;
    bottom: 10px;
    left: 0.2px;
    font-size: xx-small; }
    .seccionIndex5 input {
      font-size: x-small;
      height: 1.5rem;
      width: 200px;
      margin: 6px; }
  .seccionIndex1, .seccionIndex2, .seccionIndex3, .seccionIndex4 {
    height: 200px;
    width: 400px; }
  /* locales */
  .contenidoLocales {
    width: 260px; }
    .contenidoLocales li {
      font-size: x-small; }
  h2, p {
    font-size: x-small; }
  .mainLocales {
    height: 600px; }
  /* comentario */
  .comentarioContenido {
    height: 340px;
    width: 250px; }
    .comentarioContenido input {
      height: 2rem;
      width: 200px;
      border-radius: 15px;
      font-size: x-small; }
  textarea {
    height: 2rem;
    width: 200px;
    border-radius: 15px;
    font-size: x-small; }
  /* ofertaspromos */
  .mainOfertas {
    height: 900px; }
  .ofertasYpromoscontenido {
    top: 400px;
    width: fit-content;
    height: 150px; }
    .ofertasYpromoscontenido form input {
      height: 1.5rem;
      width: 200px;
      margin: 3px; }
  /* footer */
  .footer {
    font-size: x-small; } }

/* responsive media query celular 320px */
@media (max-width: 320px) {
  /* inicio */
  .flexPadre li {
    height: 15px;
    padding: 13px; }
  .seccionIndex {
    height: 890px; }
  .seccionIndex5 {
    height: 150px; }
  /* ofertaspromos */
  .ofertasYpromoscontenido {
    top: 20px; }
  .mainOfertas {
    height: 900px; } }

/* media query tablet 599px */
@media (max-width: 599px) {
  /* producto */
  .nuestrosProductoscontenido {
    justify-content: space-around; }
    .nuestrosProductoscontenido div {
      height: 220px; }
    .nuestrosProductoscontenido p {
      font-size: x-small; }
  .imagen {
    height: 140px;
    width: 140px;
    padding: 10px; } }

@media (max-width: 690px) {
  /* producto */
  .mainProductos {
    height: 1400px; }
  .nuestrosProductoscontenido {
    height: 1300px; }
  .imagen {
    height: 160px;
    width: 160px;
    padding: 10px; } }

@media (max-width: 399px) {
  /* producto */
  .nuestrosProductoscontenido div {
    height: 198px;
    margin: 6px; }
  .mainProductos {
    height: 2600px; }
  .nuestrosProductoscontenido {
    height: 2500px; }
  /* menu */
  .seccionIndex2 {
    background-image: url(https://cdn.vectorstock.com/i/1000x1000/66/62/black-banner-discount-purchase-30-percent-sale-vector-18046662.webp);
    background-size: cover; }
  .seccionIndex4 {
    background-image: url(https://png.pngtree.com/png-vector/20190330/ourlarge/pngtree-vector-organization-icon-png-image_894718.jpg);
    background-size: cover; }
  /* ofertaspromos */
  .mainOfertas {
    height: 1200px; }
  .ofertasYpromoscontenido {
    top: 50px; } }
