.footer {
    background-color: black;
    color: white;
    height: 200px;
    position: relative;
    bottom: 100%;
    font-size: 15px;
  
    li {
      list-style: none;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 15px;
    }
  
    a {
      text-decoration: none;
      color: white;
    }
  
    i {
      font-size: 2rem;
    }
  }
  
  .footer1 {
    display: flex;
    margin-bottom: 15px;
    padding: 30px;
    justify-content: space-evenly;
  }
  
  .footer2 {
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
  }
  